* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: 'ralewayitalic';
    src: url('raleway-italic-webfont.woff2') format('woff2'),
    url('raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('raleway-light-webfont.woff2') format('woff2'),
    url('raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight_italic';
    src: url('raleway-lightitalic-webfont.woff2') format('woff2'),
    url('raleway-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('raleway-medium-webfont.woff2') format('woff2'),
    url('raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
}

#wrapper {
    width: 100vw;
    margin: 0 auto;
    background-color: white;
}

/* ------------------------- HEADER ----------------------- */

header {
    width: 100vw;
    height: 2rem;
    background-color: black;
    padding: 0 23vw;
    display: flex;
    justify-content: space-between;
}

div.logo > p {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .7rem;
    line-height: 2rem;
    cursor: pointer;
}

span.logo {
    color: #24BA9F;
    font-size: .7rem;
}

ul.nav_bar {
    display: flex;
    justify-content: space-around;
}

li.bar_content {
    width: 5.5rem;
    height: 2rem;
    list-style: none;
    line-height: 2rem;
    text-align: center;
}

a.bar_link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .7rem;
    color: white;
    cursor: pointer;
}

div.dropdown {
    width: 5.5rem;
    height: 6rem;
    display: none;
    position: relative;
    background-color: white;
}

ul.dropdown_list {
    width: 5.5rem;
    height: 6rem;
    background-color: black;
    position: absolute;
    margin-top: 1rem;
}

.triangle {
    width: .5rem;
    height: .5rem;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    left: 2.5rem;
    top: .75rem;
}

li.dropdown_content {
    width: 5.5rem;
    height: 2rem;
    line-height: 1.7rem;
    text-align: left;
    list-style: none;
}

a.dropdown_link {
    width: 5.5rem;
    text-transform: none;
    text-decoration: none;
    color: white;
    font-size: .7rem;
    padding: .6rem;
}

.bar_content:hover, .dropdown_content:hover {
    background-color: #24BA9F;
}

.bar_content:hover div.dropdown {
    display: block;
}

/* ------------------------- BANNER ----------------------- */

section.banner {
    height: 60vh;
    padding: 0 20vw;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 0.99) 47%, rgba(242, 242, 244, 0.98) 64%, rgba(223, 222, 227, 0.98) 98%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(252, 252, 252, 0.99)), color-stop(64%, rgba(242, 242, 244, 0.98)), color-stop(98%, rgba(223, 222, 227, 0.98)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 0.99) 47%, rgba(242, 242, 244, 0.98) 64%, rgba(223, 222, 227, 0.98) 98%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 0.99) 47%, rgba(242, 242, 244, 0.98) 64%, rgba(223, 222, 227, 0.98) 98%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 0.99) 47%, rgba(242, 242, 244, 0.98) 64%, rgba(223, 222, 227, 0.98) 98%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 0.99) 47%, rgba(242, 242, 244, 0.98) 64%, rgba(223, 222, 227, 0.98) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdee3', GradientType=0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.black_chair {
    width: 40vh;
    height: 35vh;
    background-image: url(../images/black_chair.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.main_text {
    width: 15vw;
    height: 30vh;
    /*margin-right: 2vw;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.main_text > h1, .main_span {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 11px;
    color: black
}

.main_span {
    color: #24BA9F;
}

div.text {
    width: 21rem;
    height: 6rem;
    text-align: center;
    font-weight: 400;
}

div.text > p {
    font-size: .7rem;
    line-height: 1.2rem;
    text-align: center;
}

.button {
    width: 11rem;
    height: 2.3rem;
    background-color: #24BA9F;
    border: 1px solid #24BA9F;
    border-radius: 10px;
    color: white;
    font-size: .9rem;
    cursor: pointer;
    margin-top: .5rem;
}

.slider {
    color: #24BA9F;
    font-size: 2.5rem;
    cursor: pointer;
}

/* ------------------------- ADVERTISEMENT ----------------------- */

section.advertisement {
    width: 100vw;
    height: 40vh;
    background-color: white;
    padding: 3vh 23vw;
    display: flex;
    flex-direction: row;
}

div.ad_1 {
    width: 18rem;
    height: 12rem;
    position: relative;
    margin-right: 1rem;
}

.white_chair {
    width: 18rem;
    height: 12rem;
    background-image: url("../images/box1_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div.ornament_1 {
    width: 18rem;
    height: 7vh;
    background-color: white;
    opacity: .5;
    position: absolute;
    bottom: 1.5vh;
}

.ad_text_1 {
    position: absolute;
    bottom: 4.3vh;
    left: 3vw;
}

.ad_text_1 p {
    font-size: .7rem;
    font-weight: 700;
}

.span_add_text_1 {
    text-transform: uppercase;
    font-size: .7rem;
    color: black;
    font-weight: bold;
}

.stripe_1 {
    width: 7.2vw;
    height: .5vh;
    background-color: #24BA9F;
    position: absolute;
}

.child {
    width: 18rem;
    height: 12rem;
    background-image: url("../images/box2_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div.finds {
    width: 18rem;
    height: 29vh;
    padding: 1vw;
    border: 1px solid #DBDBDB;
    position: relative;

}

.finds p {
    font-size: .7rem;
    background-color: white;
}

.stripe_2 {
    width: 8vw;
    height: .5vh;
    background-color: #24BA9F;
    position: absolute;
    top: 5vh;
}

/* ------------------------- PRICE LIST ----------------------- */

section.price_list {
    width: 100vw;
    height: 83vh;
    background-color: #F1F1F1;
    padding: 3vh 23vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.trio_price {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.basic_plan, .advance_plan {
    width: 18rem;
    height: 60vh;
    border: 1px solid #DBDBDB;
    background-color: rgb(249, 249, 249);
    margin-top: 4rem;
    margin-right: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.standard_plan {
    width: 18rem;
    height: 60vh;
    border: 1px solid #24BA9F;
    background-color: #24BA9F;
    margin-top: 4rem;
    margin-right: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 2rem;
    height: 2rem;
    border: 1px solid rgb(194, 194, 194);
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 8rem;
    top: -1.25rem;
}

.circle_standard {
    width: 2rem;
    height: 2rem;
    border: 1px solid #24BA9F;
    background-color: #24BA9F;
    border-radius: 50%;
    position: absolute;
    left: 8rem;
    top: -1.25rem;
}

.wheel {
    width: 1rem;
    height: 1rem;
    background-color: rgb(194, 194, 194);
    border-radius: 50%;
    position: absolute;
    left: 8.5rem;
    top: -.75rem;
}

.wheel_standard {
    width: 1rem;
    height: 1rem;
    background-color: #F1F1F1;
    border-radius: 50%;
    position: absolute;
    left: 8.5rem;
    top: -.75rem;
}

div.basic_plan_title h1 {
    text-transform: uppercase;
    color: rgb(36, 202, 168);
    margin-top: 1rem;
}

.circle_2 {
    width: 6rem;
    height: 6rem;
    border: 1px solid rgb(194, 194, 194);
    background-color: white;
    border-radius: 50%;
    margin-top: 1.5rem;
    color: #BBBBBB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.circle_2_standard {
    width: 6rem;
    height: 6rem;
    border: 1px solid rgb(194, 194, 194);
    background-color: #F1F1F1;
    border-radius: 50%;
    margin-top: 1.5rem;
    color: #BBBBBB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.price_1 {
    font-size: 2rem;
    font-weight: 900;
}

.price_2 {
    font-size: .7rem;
    font-weight: bold;
    position: absolute;
    left: 4rem;
}

.pln {
    font-size: .7rem;
}

.white_stripe {
    width: 17.9rem;
    height: .2rem;
    background-color: white;
    margin-top: 1.5rem;
}

.dark_stripe {
    width: 17.9rem;
    height: 2rem;
    background-color: rgb(228, 228, 228);
}

.light_stripe {
    width: 17.9rem;
    height: 2rem;
    background-color: rgb(241, 241, 241);
}

.white_stripes {
    width: 17.9rem;
    height: 2rem;
    background-color: white;
}

.button_join {
    width: 7rem;
    height: 2rem;
    background-color: #24BA9F;
    border: 1px solid #24BA9F;
    border-radius: 10px;
    text-transform: uppercase;
    line-height: 2rem;
    color: white;
    font-size: .9rem;
    cursor: pointer;
    margin-top: 8rem;
}

.button_join_2 {
    width: 7rem;
    height: 2rem;
    background-color: white;
    border: 1px solid #24BA9F;
    border-radius: 10px;
    text-transform: uppercase;
    line-height: 2rem;
    color: #24BA9F;
    font-size: .9rem;
    cursor: pointer;
    margin-top: 6rem;
}

.button_join_3 {
    width: 7rem;
    height: 2rem;
    background-color: #24BA9F;
    border: 1px solid #24BA9F;
    border-radius: 10px;
    text-transform: uppercase;
    line-height: 2rem;
    color: white;
    font-size: .9rem;
    cursor: pointer;
    margin-top: 4rem;
}

p.dark {
    line-height: 1.6rem;
    color: #BBBBBB;
}

p.white {
    line-height: 2rem;
    color: #BBBBBB;
}

h1 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: #757575;
}

.stripe_3 {
    height: .7vh;
    width: 17vw;
    background-color: #24BA9F;
    position: absolute;
    top: 6.5vh;
}

span.standard {
    color: white;
}

/* ------------------------- CONTACT_FORM ----------------------- */

.contact_form {
    width: 100vw;
    height: 40vh;
    background-color: white;
    padding: 3vh 23vw;
    padding-top: 3vh;
    paddi: 0 23vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}

input::placeholder {
    color: rgb(212, 212, 212);
    font-size: 1.1rem;
}

textarea::placeholder {
    color: rgb(212, 212, 212);
    font-size: 1.2rem;
}

input[type=text], input[type=email] {
    border: 1px solid rgb(225, 244, 240);
    margin-bottom: 2vh;
    width: 36vw;
    height: 5vh;
    padding: .5rem .5rem;
}

textarea {
    border: 1px solid rgb(225, 244, 240);
    color: lightgrey;
    padding: .5rem .5rem;
    resize: none;
}

div.copyright > p {
    font-size: .7rem;
    color: grey;
    margin-top: 4.3rem;
}

div.right {
    width: 25vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.red_chair {
    width: 18vw;
    height: 18vh;
    align-self: center;
    background-image: url(../images/red_chair.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 1.5rem;
}

.border {
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid #24BA9F;
    align-self: center;
}

.form_ok {
    width: 1.4rem;
    height: 1.4rem;
    background-image: url(../images/form_ok.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    align-self: center;
}

.send {
    margin-left: 3rem;
}

.button_send {
    margin-left: 2.7rem;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.checkbox p {
    color: #919191;
    font-size: .7rem;
    margin-left: .5rem;
    line-height: normal;
}

input[type=submit] {
    width: 13rem;
    height: 2.5rem;
    background-color: #24BA9F;
    border: 1px solid #24BA9F;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1.5rem;
}

/* ------------------------- FOOTER ----------------------- */

footer {
    width: 100vw;
    height: 14vh;
    background-color: white;
    padding: 0 23vw;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

#social_media {

    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.flickr {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../images/flickr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: .3rem;
    cursor: pointer;
}

.vimeo {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../images/vimeo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: .3rem;
    cursor: pointer;
}

.pinterest {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../images/pinterest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: .3rem;
    cursor: pointer;

}

.tweeter {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../images/twitter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.sit_on_chair p {
    color: rgb(212, 212, 212);
    text-transform: uppercase;
    font-size: .7rem;
    margin-top: .75rem;
    margin-left: 2rem;
}

span.on {
    font-weight: bold;
    font-size: .7rem;
}